body{
  background-color: black;
}

p{
  color: white;
}

#window{
  line-height: 0;
  width: 500px;
}

#outText{
  color: white;
  width: 1000px;
  font-family: "Lucida Console", Monaco, monospace;
}

#inputText{
  background-color:black;
  color: white;
  height: 30px;
  width: 1000px;
  font-family: "Lucida Console", Monaco, monospace;
}